.parent-head {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 40px
}

.fa-solid {
    padding-right: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;  /* Spread out the navbar items */
    align-items: center; /* Vertically align the items */
    padding: 10px 0;  /* Add some padding */
}

.navbar .parent-head {
    display: flex;
    justify-content: space-between;  /* Spread out the items */
    align-items: center;  /* Vertically align */
    width: 100%;
}

.navbar .input-group {
    flex-grow: 1;
    max-width: 500px;  /* Limit max width of the search input */
}

.navbar .cart, .navbar .customer {
    display: flex;
    align-items: center;  /* Align icon and text vertically */
}
body {
    background-color: #f1f1f1;
}

.cart {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-right: 15px;
}

.customer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.heading {
    display: flex;
    margin-left: 15px;
    margin-top: 15px
}

.card-text {
    text-align: center
}

.initial-items-list {
    width: 85vw;
    display: grid;
    grid-template-columns: 83% 17%;
    gap: 10px;
}

.cards-wrapper {
    display: flex;
}

.card {
    margin: 0.5rem;
    width: 18rem;
}

.footer {
    background-color: #f1f1f1;
    padding: 40px 0;
}

.footer a {
    color: #000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons i {
    font-size: 20px;
    margin-right: 15px;
}

.footer .quick-links ul,
.footer .info-links ul {
    list-style: none;
    padding-left: 0;
}

.footer .quick-links ul li,
.footer .info-links ul li {
    margin-bottom: 10px;
}

.card-img-top {
    max-width: 100%;
}

.instruments {
    overflow-x: scroll;
}

.header-perent {
    flex-direction: column;
}

.ct {
    text-align: center;

}

.dn {
    display: block;
    width: 20%;
}

.dn1 {
    width: 100%;
}

.instruments {
    overflow-x: scroll;
}

.instruments2 {
    overflow-x: scroll;
    width: 80%;
}

.card-img-top:hover {
    scale: 1.1;
}

.p1-item {
    min-height: 130px;

    min-width: 130px;

}

@media (max-width:1400px) {
    .heading {
        overflow-x: scroll;
    }
}

@media (max-width:992px) {

    .dn3 {
        display: none;
    }
}

@media (max-width:992px) {

    .dn {
        display: none;
    }
}

@media (max-width: 768px) {
    .input-group {
        display: none;
    }
}

@media (max-width:1200) {
    .img-dis {
        display: none;
    }
}