body {
    background-image: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
}

.loginpage {
    padding: 150px;
}

#signup {
    border: 5px solid black;
}

#sign-in {
    animation-iteration-count: infinite;
}